* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: navy;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: skyblue;
}

#image-preview #image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
}

table td img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

table {
  border: 1px solid gray;
  
}



@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

}